@model EntertainmentAgency.Models.Design
@{
    ViewBag.Title = "AddDesign";
}

<div class="text-center">
    <h2>AddDesign</h2>

    @using (Html.BeginForm())
    {
        <img id="myimg" />
        <div>
            @Html.LabelFor(elem => elem.Img)
            @Html.TextBoxFor(elem => elem.Img)
        </div>

        <div>
            @Html.LabelFor(elem => elem.Price)
            @Html.EditorFor(elem => elem.Price)
        </div>

        <div>
           @Html.Action("_PartialType","Auto")

        </div>

        <div>
            <p><button type="submit">Add</button></p>
        </div>
    }
</div>

<script>
    document.getElementById("Img").onchange = function () { document.getElementById("myimg").src =$("#Img").val() };

</script>