@model EntertainmentAgency.Models.TypeOfEntertainment
@{
    ViewBag.Title = "AddType";
}


<div class="text-center">
    <h2>AddType</h2>

    @if (ViewBag.Error != null)
    {
        <h3>@ViewBag.Error</h3>
    }
    @using (Html.BeginForm())
    {
        <img id="myimg">
        <div>
            @Html.LabelFor(elem => elem.Img)
            @Html.EditorFor(elem => elem.Img)
        </div>

        <div>
            @Html.LabelFor(elem => elem.Type)
            @Html.EditorFor(elem => elem.Type)
        </div>

        <p><button class="btn btn-success" type="submit">Add</button></p>
    }
</div>


<script>
    document.getElementById("Img").onchange = function () { document.getElementById("myimg").src =$("#Img").val() };

</script>