@model List<EntertainmentAgency.Models.Competition>
    @{
        ViewBag.Title = "Competitions";
    }

<div class="text-center">
    <h2>Competitions</h2>
    @if (Model != null)
    {
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-@Model[0].Id-list" data-toggle="list" href="#list-@Model[0].Id" role="tab" aria-controls="@Model[0].Id">@Model[0].Name</a>
                @for (int i = 1; i < Model.Count; i++)
                {
                    <a class="list-group-item list-group-item-action" id="list-@Model[i].Id-list" data-toggle="list" href="#list-@Model[i].Id" role="tab" aria-controls="@Model[i].Id">@Model[i].Name</a>
                }
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-@Model[0].Id" role="tabpanel" aria-labelledby="list-@Model[0].Id-list"><p>@Model[0].About</p><p>$ @Model[0].Price</p></div>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="tab-pane fade" id="list-@Model[i].Id" role="tabpanel" aria-labelledby="list-@Model[i].Id-list"><p>@Model[i].About</p><p>$ @Model[i].Price</p></div>
                }
            </div>
        </div>
    </div>
    }
    else
    {
        <h1>Empty list of competitions</h1>
    }
</div>