@model int
@{
    ViewBag.Title = "Index";
}
<div class="text-center">
    <h2>Your order</h2>
</div>

<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Type of entertainment
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                @Html.Action("_PartialTypeView", "ShowOrder", new { Id = Model })
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Design
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                @Html.Action("_PartialDesignView", "ShowOrder", new { Id = Model })
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Menu
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                @Html.Action("_PartialMenuView", "ShowOrder", new { Id = Model })
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Competitions
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                @Html.Action("_PartialCompetitionView", "ShowOrder", new { Id = Model })
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <h2>Comment to order:</h2><br>
    <textarea id="Comment" class="col-5"></textarea>
</div>
<div class="text-right">
    <h1>Sum:</h1>
    <h1>$ @Html.Action("GetSum", "ShowOrder", new { Id = Model })</h1>
</div>
@if (Model == 0)
{
    <div class="text-center">
        <button class="btn btn-success" onclick="SendOrder()" value="Send Order">Send Order</button>

    </div>
}

<script>
    function SendOrder() {
        $.ajax({
            url: "/ShowOrder/SendOrder",
            method: "get",
            dataType: "html",
            data: { Comment: $("#Comment").val() },
            success: function (result) {
                alert("Your order is send");
                window.location.href = "/Home/Index";
            }
        });
    }
</script>