@model List<EntertainmentAgency.Models.TypeOfEntertainment>



<style>
    body {
        background-size: cover;
    }

    .mincard {
        height: 300px;
        font-size: 10px;
    }

    .maxcard {
        height: 400px;
    }

    .min-btn {
        font-size: 10px;
        height: 30px;
        width: 90px;
    }
</style>

@if (Model != null)
{
    <div id="mainDiv">
    </div>
    <div style="width: 900px; height: 500px">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

                <div class="carousel-item active" id=@Model[0].Id onclick="TypeClick(@Model[0].Id)">
                    <img class="d-block w-100" id=@Model[0].Id  src=@Model[0].Img alt=@Model[0].Type style="height:500px">
                </div>
                @for (int i = 1; i < Model.Count; i++)
                {
                    <div class="carousel-item" id=@Model[i].Id  onclick="TypeClick(@Model[0].Id)">
                        <img class="d-block w-100" src=@Model[i].Img alt=@Model[i].Type style="height:500px">
                    </div>
                }


            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <script>$('.carousel').carousel()</script>

    </div>

}
else
{
    < h4 > Empty list </ h4 >
}

@Scripts.Render("~/bundles/jquery")







<script>

  
    function TypeClick(myid) {
        alert(myid)
        $.ajax({
            url: "/Order/_PartialDesignView",
            dataType: "html",
            data: { id: myid },
            success: function (result) {
                $('#mainDiv').html(result);
            }
        });
    }


@*function Next() {


            var index =$("#currendIndex").val();
            alert(index)
        $(".container .container-content .row").parent().children().remove();

            if (index == 0) {

           $(".container .container-content").append("<div class='row'></div>");
           $(".container .container-content .row").append("<div class='offset-1'>");
           $(".container .container-content .row").append("<div class='col-3'><div class='card mincard'><img style='height: 150px;' class= 'card - img - top' src = @Model[Model.Count - 1].Img alt = 'Card image cap' ><div class='card-body' ><h5 class='card-title'>Card title</h5><p class='card-text'>Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href='#' class='btn btn-primary min-btn'>Go somewhere</a></div></div ></div>");
           $(".container .container-content .row").append("<div class='col-4'><div class='card maxcard'><img style='height: 200px; class= 'card - img - top' src =@Model[0].Img  alt = 'Card image cap' ><div class='card-body' ><h5 class='card-title'>Card title</h5><p class='card-text'>Some  on the card title and make up the bulk of the card's content.</p><a href='#' class='btn btn-primary max-btn'>Go somewhere</a></div></div></div>");
                $(".container .container-content .row").append("<div class='col-3'><div class='card mincard'><img style='height: 150px; class= 'card - img - top' src =@Model[1].Img alt = 'Card image cap' ><div class='card-body' ><h5 class='card-title'>Card title</h5><p class='card-text'>Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href='#' class='btn btn-primary min-btn'>Go somewhere</a></div></div></div>");
                $("#currendIndex").val(index++);

       }
       else if (index== @Model.Count-1)
      {

           $(".container .container-content").append("<div class='row'></div>");
           $(".container .container-content .row").append("<div class='offset-1'>");
           $(".container .container-content .row").append("<div class='col-3'><div class='card mincard'><img style='height: 150px;' class= 'card - img - top' src = @Model[Model.Count - 2].Img alt = 'Card image cap' ><div class='card-body' ><h5 class='card-title'>Card title</h5><p class='card-text'>Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href='#' class='btn btn-primary min-btn'>Go somewhere</a></div></div ></div>");
           $(".container .container-content .row").append("<div class='col-4'><div class='card maxcard'><img style='height: 200px; class= 'card - img - top' src =@Model[Model.Count - 1].Img  alt = 'Card image cap' ><div class='card-body' ><h5 class='card-title'>Card title</h5><p class='card-text'>Some  on the card title and make up the bulk of the card's content.</p><a href='#' class='btn btn-primary max-btn'>Go somewhere</a></div></div></div>");
           $(".container .container-content .row").append("<div class='col-3'><div class='card mincard'><img style='height: 150px; class= 'card - img - top' src =@Model[0].Img alt = 'Card image cap' ><div class='card-body' ><h5 class='card-title'>Card title</h5><p class='card-text'>Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href='#' class='btn btn-primary min-btn'>Go somewhere</a></div></div></div>");

       }
      else{
                alert("bla bla")
                @{

                }
           $(".container .container-content").append("<div class='row'></div>");
           $(".container .container-content .row").append("<div class='offset-1'>");
           $(".container .container-content .row").append("<div class='col-3'><div class='card mincard'><img style='height: 150px;' class= 'card - img - top' src = @Model[ParseInt()].Img alt = 'Card image cap' ><div class='card-body' ><h5 class='card-title'>Card title</h5><p class='card-text'>Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href='#' class='btn btn-primary min-btn'>Go somewhere</a></div></div ></div>");
           $(".container .container-content .row").append("<div class='col-4'><div class='card maxcard'><img style='height: 200px; class= 'card - img - top' src =@Model[$("#currendIndex").val()].Img  alt = 'Card image cap' ><div class='card-body' ><h5 class='card-title'>Card title</h5><p class='card-text'>Some  on the card title and make up the bulk of the card's content.</p><a href='#' class='btn btn-primary max-btn'>Go somewhere</a></div></div></div>");
          $(".container .container-content .row").append("<div class='col-3'><div class='card mincard'><img style='height: 150px; class= 'card - img - top' src =@Model[$("#currendIndex").val()].Img alt = 'Card image cap' ><div class='card-body' ><h5 class='card-title'>Card title</h5><p class='card-text'>Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href='#' class='btn btn-primary min-btn'>Go somewhere</a></div></div></div>");


       }
    };
    function Prev() {
        @*$(".container .container-content .row").parent().children().remove();
       if (@ViewBag.index== 0) {
           $(".container .container-content").append("<div class='row'></div>");
           $(".container .container-content .row").append("<div class='offset-1'>");
           $(".container .container-content .row").append("<div class='col-3'><div class='card mincard'><img style='height: 150px;' class= 'card - img - top' src = @Model[Model.Count-1].Img alt = 'Card image cap' ><div class='card-body' ><h5 class='card-title'>Card title</h5><p class='card-text'>Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href='#' class='btn btn-primary min-btn'>Go somewhere</a></div></div ></div>");
           $(".container .container-content .row").append("<div class='col-4'><div class='card maxcard'><img style='height: 200px; class= 'card - img - top' src =@Model[0].Img  alt = 'Card image cap' ><div class='card-body' ><h5 class='card-title'>Card title</h5><p class='card-text'>Some  on the card title and make up the bulk of the card's content.</p><a href='#' class='btn btn-primary max-btn'>Go somewhere</a></div></div></div>");
           $(".container .container-content .row").append("<div class='col-3'><div class='card mincard'><img style='height: 150px; class= 'card - img - top' src =@Model[1].Img alt = 'Card image cap' ><div class='card-body' ><h5 class='card-title'>Card title</h5><p class='card-text'>Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href='#' class='btn btn-primary min-btn'>Go somewhere</a></div></div></div>");
           @ViewBag.index=@Model.Count-1
       }
       else if (@ViewBag.index== @Model.Count-1)
       {
           $(".container .container-content").append("<div class='row'></div>");
           $(".container .container-content .row").append("<div class='offset-1'>");
           $(".container .container-content .row").append("<div class='col-3'><div class='card mincard'><img style='height: 150px;' class= 'card - img - top' src = @Model[Model.Count - 2].Img alt = 'Card image cap' ><div class='card-body' ><h5 class='card-title'>Card title</h5><p class='card-text'>Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href='#' class='btn btn-primary min-btn'>Go somewhere</a></div></div ></div>");
           $(".container .container-content .row").append("<div class='col-4'><div class='card maxcard'><img style='height: 200px; class= 'card - img - top' src =@Model[Model.Count - 1].Img  alt = 'Card image cap' ><div class='card-body' ><h5 class='card-title'>Card title</h5><p class='card-text'>Some  on the card title and make up the bulk of the card's content.</p><a href='#' class='btn btn-primary max-btn'>Go somewhere</a></div></div></div>");
           $(".container .container-content .row").append("<div class='col-3'><div class='card mincard'><img style='height: 150px; class= 'card - img - top' src =@Model[0].Img alt = 'Card image cap' ><div class='card-body' ><h5 class='card-title'>Card title</h5><p class='card-text'>Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href='#' class='btn btn-primary min-btn'>Go somewhere</a></div></div></div>");
           @ViewBag.index=0;
       }
       else if(index!=0&&index!=@Model.Count-1){
           @*$(".container .container-content").append("<div class='row'></div>");
           $(".container .container-content .row").append("<div class='offset-1'>");
           $(".container .container-content .row").append("<div class='col-3'><div class='card mincard'><img style='height: 150px;' class= 'card - img - top' src = @Model[ViewBag.index-2].Img alt = 'Card image cap' ><div class='card-body' ><h5 class='card-title'>Card title</h5><p class='card-text'>Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href='#' class='btn btn-primary min-btn'>Go somewhere</a></div></div ></div>");
           $(".container .container-content .row").append("<div class='col-4'><div class='card maxcard'><img style='height: 200px; class= 'card - img - top' src =@Model[ViewBag.index-1].Img  alt = 'Card image cap' ><div class='card-body' ><h5 class='card-title'>Card title</h5><p class='card-text'>Some  on the card title and make up the bulk of the card's content.</p><a href='#' class='btn btn-primary max-btn'>Go somewhere</a></div></div></div>");
           $(".container .container-content .row").append("<div class='col-3'><div class='card mincard'><img style='height: 150px; class= 'card - img - top' src =@Model[ViewBag.index].Img alt = 'Card image cap' ><div class='card-body' ><h5 class='card-title'>Card title</h5><p class='card-text'>Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href='#' class='btn btn-primary min-btn'>Go somewhere</a></div></div></div>");
           @ViewBag.index--*@
       //


    //};

            </script>




