@model List<EntertainmentAgency.Models.TypeOfEntertainment>



<style>
    body {
        background-size: cover;
    }

    .mincard {
        height: 300px;
        font-size: 10px;
    }

    .maxcard {
        height: 400px;
    }

    .min-btn {
        font-size: 10px;
        height: 30px;
        width: 90px;
    }
</style>

@if (Model != null)
{


    <div class="container">
        <div class="container-content">

        </div>


        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

}
else
{
    <h4>Empty list</h4>
}
@Scripts.Render("~/bundles/jquery")
<script>



    $(function () {

        @(ViewBag.index = 0);
        $(".container .container-content").append("<div class='row'></div>");
        $(".container .container-content .row").append("<div class='offset-1'>");
        $(".container .container-content .row").append("<div class='col-3'><div class='card mincard'><img style='height: 150px;' class= 'card - img - top' src = @Model[Model.Count-1].Img alt = 'Card image cap' ><div class='card-body' ><h5 class='card-title'>Card title</h5><p class='card-text'>Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href='#' class='btn btn-primary min-btn'>Go somewhere</a></div></div ></div>");
        $(".container .container-content .row").append("<div class='col-4'><div class='card maxcard'><img style='height: 200px; class= 'card - img - top' src =@Model[0].Img  alt = 'Card image cap' ><div class='card-body' ><h5 class='card-title'>Card title</h5><p class='card-text'>Some  on the card title and make up the bulk of the card's content.</p><a href='#' class='btn btn-primary max-btn'>Go somewhere</a></div></div></div>");
        $(".container .container-content .row").append("<div class='col-3'><div class='card mincard'><img style='height: 150px; class= 'card - img - top' src =@Model[1].Img alt = 'Card image cap' ><div class='card-body' ><h5 class='card-title'>Card title</h5><p class='card-text'>Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href='#' class='btn btn-primary min-btn'>Go somewhere</a></div></div></div>");

    });
   
</script>
<script>
    function TypeClick(myid) {
        $("#DesignIdButton").removeAttr("disabled");
        $("#MenuIdButton").removeAttr("disabled");
        $("#CompetitionIdButton").removeAttr("disabled");
        $.ajax({
            url: "/Order/_PartialDesignView",
            dataType: "html",
            data: { id: myid },
            success: function (result) {
                $('#mainDiv').html(result);
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        $(".carousel-control-next").click(function () {
            @(ViewBag.type = "Types");
        @(ViewBag.way="next");
            $.ajax({
                url: "/Order/_LoadItems",
                datatype: "html",
                sucsess: $('.container .container-content').html(result);
            })
            //$.ajax({
            //    url: "/Order/_PartialDesignView",
            //    dataType: "html",

            //    success: function (result) {
            //        $('#mainDiv').html(result);
            //    }
            //});
       
        });
    });


</script>
