

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    
    .wnd {
        padding: 30px;
        box-shadow: 10px 10px 10px, lightblue; 
    }
    .bt{
        width:100px;
    }
   
    .main{
        
    }
   
</style>

<div class="wnd">
    <div class="row" style="height: 20px"></div>

    <div class="row">



        <div class="col-8">

            <div id="TypesDiv">
                @Html.Action("_PartialTypesView", "Home")
            </div>
            <div id="DesignDiv" style="display: none">
                @Html.Action("_PartialDesignView", "Home")
            </div>
            <div id="MenuDiv" style="display: none">
                @Html.Action("_PartialMenuView", "Home")
            </div>
            <div id="CompetitionDiv" style="display: none">
                @Html.Action("_PartialCompetitionView", "Home")
            </div>
        </div>

        <div class="col-4" style="background-color: rgb(0, 37, 68);">
            <button onclick="ShowTypes()" class="button glass blue-a bt">Choose your event</button><br><br>
            <button onclick="ShowDesigns()" class="button glass blue-a bt">Choose your design</button><br><br>
            <button onclick="ShowCompetitions()" class="button glass blue-a bt">Choose your competition</button><br><br>
            <button onclick="ShowMenus()" class="button glass blue-a bt">Choose your menu</button><br><br>
           <input class="btn btn-success" type="submit" value="Create your own holiday" onclick="@("window.location.href='" + @Url.Action("Index", "Order") + "'")" />
            
        </div>



    </div>

    </div>




<script>

    function ShowTypes() {
        $("#TypesDiv").show();
        $("#DesignDiv").hide();
        $("#MenuDiv").hide();
        $("#CompetitionDiv").hide();
    }
    function ShowDesigns() {
        $("#TypesDiv").hide();
        $("#DesignDiv").show(); 
        $("#MenuDiv").hide();
        $("#CompetitionDiv").hide();
    }
    function ShowMenus() {
        $("#TypesDiv").hide();
        $("#DesignDiv").hide();
        $("#MenuDiv").show();
        $("#CompetitionDiv").hide();
    }
    function ShowCompetitions() {
        $("#TypesDiv").hide();
        $("#DesignDiv").hide();
        $("#MenuDiv").hide();
        $("#CompetitionDiv").show();
    }
</script>
