@model EntertainmentAgency.Models.LoginModel



<h2>Вход на сайт</h2>
<style>
    body {
        background-size: cover;
        background-repeat: no-repeat;
    }


    .class1{
        
    }
</style>

<div class="class1">
    @using (Html.BeginForm())
    {

    @Html.AntiForgeryToken()

    <div>
        
        @Html.ValidationSummary()
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <p>
            <label>Email</label><br />
            @Html.TextBoxFor(model => model.Email )

        </p>
        <p>
            <label>Password</label><br />
            @Html.PasswordFor(model => model.Password)
        </p>
        <p><button type="submit">Войти</button></p>
    </div>
    }
    </div>
    
